@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    /* --sombra-btn-secundario: inset 0px 0px 7px 2px rgb(50, 50, 50);  */
    --sombra-btn-secundario: inset 0px 0px 10px 5px rgb(0, 0, 0);
    --color-texto-secundario: rgb(68, 68, 68);
    /* --fondo-btn-secundario: rgb(212, 212, 212); */
    --fondo-btn-secundario: rgb(65, 78, 218);
    --fondo-cards: rgba(247, 242, 242, 0.866);
    --fondo-azul-espacial: rgb(0, 12, 57);
}

* {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: "Roboto", sans-serif; */
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #F3F5FC;
    background-image: url(../imagenes/fondo-cohetes2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}


/* --------------------- MAIN --------------------- */

main {
    display: flex;
    flex-direction: row;
    padding: 0px 100px;
    flex: 1;
}


/* --------------------- HEADER --------------------- */

.contenedor-infoPagina div {
    /* background-image: url(../imagenes/img-rectangulo-titulo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: content-box; */
    /* width: 400px;
    height: 120px;
    position: relative;
    margin: 0px auto;
    display: flex; */
    display: flex;
    width: 350px;
    height: 60px;
    background-color: var(--fondo-azul-espacial);
    border: 1.5px solid rgb(169, 169, 169);
    border-radius: 10px;
    box-shadow: 0px 0px 7px 3px rgb(31, 31, 31);
    margin: 15px auto 5px auto;
}

.contenedor-infoPagina h1 {
    color: white;
    margin: auto 0px;
    width: 100%;
    text-align: center;
}

/* --------------------- SECCIONES PRINCIPALES --------------------- */

.seccion-entrada,
.seccion-resultado {
    padding: 0px 20px;
    margin-top: 10px;
    width: 50%;
}


/* --------------------- MENSAJE DE ERROR --------------------- */

.contenedor-error {
    position: relative;
    left: -530px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(204, 0, 0, 0.89);
    width: fit-content;
    /* border: 1px solid rgb(72, 72, 72); */
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0px 0px 8px 5px rgb(42, 42, 42);
}

.contenedor-error img {
    width: 60px;
    height: 60px;
    margin: auto;
}

.contenedor-error ul {
    /* margin: auto 0px auto 5px; */
    /* color: rgb(211, 0, 0); */
    /* color: rgb(255, 83, 83); */
    color: white;
    font-weight: bold;
    font-size: 0.95rem;
    padding-left: 20px;
}


/* --------------------- SECCION ENTRADA --------------------- */

.seccion-entrada {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.txtArea-principal {
    width: 100%;
    min-height: 160px;
    height: 300px;
    overflow-y: auto;
    /* overflow-y: hidden; */
    border: 1px solid rgb(160, 160, 160);
    /* border: 2px solid rgb(32, 29, 29); */
    /* border: none; */
    border-radius: 10px;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    /* box-shadow: 0px 0px 10px 4px rgb(227, 227, 227); */
    /* box-shadow: 0px 0px 10px 4px rgba(212, 163, 4, 0.722); */
    box-shadow: 0px 0px 10px 4px rgba(212, 163, 4, 0.722);
    font-size: 1.1rem;
    /* background-color: rgb(247, 242, 242); */
    /* background-color: rgba(247, 242, 242, 0.866); */
    background-color: var(--fondo-cards);
    /* background-color: rgba(255, 255, 255, 0.823); */
    /* background-color: rgba(255, 255, 255, 0.714); */
    /* scrollbar-width: thin;
    scrollbar-color: rgb(0, 0, 0) var(--fondo-cards); */
    scrollbar-width: thin;
    scrollbar-color: #8b4116 rgba(44, 44, 44, 0);
}

.txtArea-principal:focus {
    outline: none;
    border: 2px solid rgb(215, 215, 215);
}

/* .txtArea-principal::placeholder {
    color: white;
} */


/* --------------------- SECCION BOTONES --------------------- */

.seccion-botones-entrada {
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.seccion-botones-entrada input {
    width: 40%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    /* box-shadow: 0px 4px 5px rgb(28, 28, 28); */
    transition: all ease 100ms;
}

.btn-primario {
    /* background-color: #1156ab; */
    background-color: #ab4911;
    color: white;
    background-image: url(../imagenes/btn-naranja.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-primario:active {
    /* box-shadow: inset 0px 0px 7px 2px rgb(151, 151, 151); */
    box-shadow: inset 0px 0px 7px 2px rgb(0, 0, 0);
    color: rgb(127, 127, 127);
    font-size: 0.8rem;
}

.btn-secundario {
    background-color: var(--fondo-btn-secundario);
    color: white;
    background-image: url(../imagenes/btn-azul.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-secundario:active {
    font-size: 0.8rem;
    box-shadow: var(--sombra-btn-secundario);
    color: var(--color-texto-secundario);
}


/* --------------------- SECCION RESULTADO --------------------- */

.seccion-resultado {
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.contenedor-resultado {
    /* background-color: rgba(255, 255, 255, 0.823); */
    /* background-color: rgb(247, 242, 242); */
    background-color: var(--fondo-cards);
}

.contenedor-notFound {
    /* display: none; */
    text-align: center;
    height: 100%;
}

.contenedor-notFound p {
    margin: 0px 0px 10px 0px;
    font-size: 1.1rem;
    font-weight: bold;
    /* color: rgb(255, 255, 255); */
}

.img-vacio {
    height: 80%;
}

.seccion-botones-salida {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.seccion-botones-salida input {
    border-radius: 10px;
    border: 1px solid gray;
    /* box-shadow: 0px 4px 5px rgb(28, 28, 28); */
    margin-top: 5px;
    width: 90px;
    height: 40px;
    transition: all ease 100ms;
}

.seccion-botones-salida input:active {
    font-size: 0.8rem;
}

.contenedor-textoSalida {
    display: none;
    text-align: left;
    max-width: 100%;
    word-wrap: break-word;
    overflow: auto;
}

/* --------------------- MENSAJE DE TEXTO COPIADO --------------------- */


.contenedor-copiado {
    display: none;
    position: fixed;
    right: -280px;
    bottom: 10%;
    background-color: rgba(0, 128, 0, 0.767);
    width: fit-content;
    padding: 15px;
    border: 1px solid rgb(0, 109, 0);
    border-right: none;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.contenedor-copiado p {
    font-weight: bold;
    font-size: 0.95rem;
    margin: 0px;
    color: white;
}


/* --------------------- FOOTER --------------------- */

.contenedor-infoCreador {
    text-align: center;
    color: white;
    background-color: var(--fondo-azul-espacial);
    position: sticky;
    width: 100%;
    bottom: 0px;
    border-top: 1px solid rgb(86, 86, 86);
    padding-bottom: 5px;
}

.contenedor-infoCreador h5 {
    margin: 10px 0px 0px 0px;
    font-size: 0.8rem;
    font-weight: bold;
}

.contenedor-infoCreador p {
    margin: 0px;
    font-size: 0.8rem;
    font-weight: bold;
}


@media (max-width: 1440px) {

    /* --------------------- MAIN --------------------- */

    main {
        padding: 0px 20px;
    }
}

@media (max-width: 768px) {
    /* --------------------- MAIN --------------------- */

    main {
        flex-direction: column;

    }


    /* --------------------- SECCIONES PRINCIPALES --------------------- */

    .seccion-entrada,
    .seccion-resultado {
        padding: 0px 0px;
        /* margin-top: 10px; */
        width: 100%;
    }

    .seccion-resultado {
        max-width: 100%;
    }
}

@media (max-width: 425px) {
    /* --------------------- MAIN --------------------- */

    main {
        padding: 10px;
        width: 100%;
    }
}

@media(max-width: 370px) {
    /* --------------------- HEADER --------------------- */

    .contenedor-infoPagina div {
        width: 100%;
        height: 60px;
        margin: 15px auto 5px auto;
    }
}